#content{
	margin-top:56px;
}
.CodeMirror{
	border:solid black;
	height: 410px;
}

#outputVis{
	/*height: 720px;*/
	height: 411px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;        
}